<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="assets/logo_all.png" alt="AtlionTech Logo" class="logo" />
      <p class="copyright">© 2025 AtlionTech. All Rights Reserved</p>
    </div>

    <div class="footer-columns">
      <div class="footer-column">
        <h4>Industries</h4>
        <ul>
          <li>Insurance</li>
          <li>Healthcare</li>
          <li>Banking</li>
          <li>Industry</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Expertise</h4>
        <ul>
          <li>Strategy & Transformation</li>
          <li>SAP Services</li>
          <li>Software Development</li>
          <li>Our Solutions</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Atliontech</h4>
        <ul>
          <li>News</li>
          <li>Our Values & Culture</li>
          <li>Our History</li>
          <li>Impulses</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      <a href="#"><i class="fas fa-circle"></i></a>
    </div>
    <div class="footer-links">
      <a href="#">Contact</a>
      <a href="#">Imprint</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Disclaimer</a>
    </div>
  </div>
</footer>

<!-- Font Awesome CDN for icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
