.principles-section {
  max-width: 1200px;
  margin:  auto;
  padding: 30px 30px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  height: 14cm;
  margin-bottom: 3cm;
}

.principles-header h4 {
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #aaa;
  margin-bottom: 8px;
}

.principles-header h2 {
  font-size: 28px;
  font-weight: 400;
  color: #003b4a;
}

.principles-header .bold {
  font-weight: bold;
}

.principles-header .highlight {
  color: #f78c00;
  font-weight: bold;
}

.principles-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.principle-card {
  background: #fff;
  border: 1px solid #cfe1e8;
  border-radius: 10px;
  padding: 30px 20px;
  flex: 1 1 220px;
  max-width: 220px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  text-align: center;
    transition: all 0.3s ease;
  cursor: pointer;
}
.principle-card:hover {
  transform: translateY(-8px);
  border-color: #00cccc;
  box-shadow: 0 8px 20px rgba(0, 204, 204, 0.2);
}
.principle-card:hover h3 {
  color: #00cccc;
}


  @media (max-width: 768px) {
  .principle-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.principle-card img {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  background-color: #e7f6f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principle-card img {
   width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  background-color: #e7f6f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principle-card h3 {
  font-size: 16px;
  color: #007084;
  margin-bottom: 10px;
}

.principle-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.principles-button {
  margin-top: 40px;
}

.btn-outline {
  border: 1px solid #f78c00;
  padding: 10px 20px;
  color: #f78c00;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #f78c00;
  color: #fff;
}
