<app-navbar></app-navbar>

<!-- Top Banner -->
<div class="top-banner" *ngIf="activeService">
  <img [src]="activeService.backimageUrl" [alt]="activeService.name + ' banner'">
</div>

<!-- Main Section -->
<div class="services-section" *ngIf="activeService">
  <!-- Left Menu -->
  <div class="services-menu">
    <h3><div class="banner-text">SERVICES</div></h3>
    <ul>
      <li *ngFor="let s of services">
        <a [href]="s.link" [ngClass]="{ 'active': isActive(s.link) }">{{ s.name }}</a>
      </li>
    </ul>
  </div>

  <!-- Right Content -->
  <div class="services-content">
    <h2>{{ activeService.name }}</h2>
    <div [innerHTML]="activeService.description"></div>

  <div *ngIf="activeService?.sections">
  <div *ngFor="let sec of activeService.sections">
    <h2>{{ sec.title }}</h2>
    <p>{{ sec.content }}</p>
  </div>
</div>
   
  </div>
</div>
<!-- Icône bouton email à droite -->
<button class="contact-toggle" (click)="toggleContactForm()">
  <i class="fas fa-envelope"></i>
</button>

<!-- Ton formulaire de contact -->
<app-contact-form *ngIf="showContactForm"></app-contact-form>

<app-footer></app-footer>
