.section-divider {
  height: 8px;
  width: 100px;
  background-color: #008084;
  margin: 10px auto;

  &.left {
    margin-left: 0;
    margin-right: auto;
     width: 30%;
  }

  &.right {
    margin-left: auto;
    margin-right: 0;
     width: 30%;
  }
}
html {
  scroll-behavior: smooth;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  background-color: #003640;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
