html {
  scroll-behavior: smooth;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  background-color: #003640;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
