.section-divider {
  height: 8px;
  width: 100px;
  background-color: #008084;
  margin: 10px auto;

  &.left {
    margin-left: 0;
    margin-right: auto;
     width: 30%;
  }

  &.right {
    margin-left: auto;
    margin-right: 0;
     width: 30%;
  }
}
html {
  scroll-behavior: smooth;
}

.go-to-top-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px 0 0;
}

.go-to-top {
  background-color: #008084;
  color: #fff;
  font-size: 22px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px #003640;
  transition: background-color 0.3s ease;
}

/* Hover color (always works, even after clicking) */
.go-to-top:hover {
  background-color: #f57c00;
}

/* Remove browser focus outline and avoid conflict */
.go-to-top:focus {
  outline: none;
}

/* Optional: subtle active/click effect */
.go-to-top:active {
  transform: scale(0.96);
}
