<section class="resume-form">
  <h2>Didn't Find a Match?</h2>
  <p>Send us your resume, and we'll keep in touch!</p>

  <form (ngSubmit)="onSubmit()">
    <input type="text" name="fullName" [(ngModel)]="fullName" placeholder="Your Full Name" required />
    <input type="email" name="email" [(ngModel)]="email" placeholder="Your Email" required />
    <input type="file" name="cv" (change)="onFileSelected($event)" required />
    <textarea name="about" [(ngModel)]="about" placeholder="Tell us about yourself..."></textarea>
    <button type="submit">Send </button>
  </form>
</section>
