<section ><app-navbar></app-navbar>
<section class="header">
  <h1>Nos Articles & Actualités</h1>
  <p>Découvrez nos dernières nouvelles, insights et projets.</p>
</section>
<div class="blogs">
<section class="blog-container">
  <div class="blog-card" *ngFor="let post of blogPosts">
    <img [src]="post.imageUrl" [alt]="post.title" />
    <div class="blog-content">
      <h2>{{ post.title }}</h2>
      <p>{{ post.summary }}</p>
      <a [href]="post.link" class="read-more">Lire plus</a>
    </div>
  </div>
</section>
</div>
<app-footer></app-footer>

