.top-banner img {
  position: relative;
  width: 100%;
  height: 350px; 
 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-banner {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden; 
}

.services-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
   margin: 0 auto;
  padding: 3rem 150px;
 
  flex-wrap: nowrap;
}
.services-menu select {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  border:  #ffffff;
  background-color: #ffffff;
  font-size: 14px;
  color: #003643;
}
.services-menu {
  width: 250px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

 
}

.services-menu h3 {
  background: linear-gradient(to right, #003643, #00796b); 
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
   padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.services-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-menu li {
  margin: 10px 0;
  border-radius: 4px;
  overflow: hidden;
}

.services-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #003643;
  border-left: 4px solid transparent;
  background: #ffffff;
  transition: all 0.3s ease;
}

.services-menu a:hover {
 /*   background: linear-gradient(to right, #003643, #00796b);*/
  color: #f17b00;
}

.services-menu a.active {
  background: linear-gradient(to right, #003643, #00796b);
  color: #ffffff;
  font-weight: bold;
  border-left: 4px solid #003643;
}

.services-content {
  flex-grow: 1;
  max-width: calc(100% - 280px);
  margin-bottom: 100px;
}

.services-content h2 {
  font-size: 40px;
  color: #003643;
  margin-bottom: 20px;
  border-bottom: 2px solid #00796b;
  padding-bottom: 10px;
  display: inline-block;
}

.services-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  margin-bottom: 20px;


}

.services-content ul {
  padding-left: 20px;
  font-size: 16px;
  color: #333333;
   margin-bottom: 40px;
}

.services-content li {
  margin-bottom: 10px;
  list-style: disc;
  
  
}
.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.text-block {
  flex: 1 1 60%;
  min-width: 300px;
}

.schema {
  flex: 0 1 280px;
}

.schema img {
  width: 100%;
  height: auto;
 
  border-radius: 8px;

}
.testimonial-carousel {
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.section-title .orange {
  color: #f17b00;
}

.testimonial-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  max-width: 1000px; /* wider */
  min-height: 220px;
  margin: 0 auto;
  transition: all 0.5s ease;
}

.testimonial-left {
  flex: 2;
  padding-right: 20px;
}

.testimonial-logo-circle {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: #00565b;
  font-weight: 600;
  font-size: 16px;
  margin-left: 30px;
  text-align: center;
}

.author {
  margin-top: 20px;
  font-size: 14px;
}

.company {
  color: #00778B;
  font-weight: 600;
}
.arrow {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #f17b00;
  margin: 0 20px;
  transition: transform 0.3s;
}
.automotive-section ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.automotive-section li {
  position: relative;
  padding-left: 32px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #003643;
  font-weight: 500;
}

.automotive-section li::before {
  content: "✔️"; 
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #f17b00; 
  line-height: 1;
}
.testimonial-wrapper {
  padding: 80px 150px;
  background-color: #003643;
  margin-top: -100px; 
}
